<div *ngIf="loading" class="prosesload">
  <div class="loading">
    <img style="margin:auto;width:100%;" src="https://cdn140.picsart.com/259325004017202.gif" />
  </div>
</div>

<div class="container mb-4">
  <div class="row mt-3">
      <div class="col-md-6 col-lg-4 text-center">
        <p>
          <img src="{{sprites.front_default}}" width="360" height="336">
        </p>
      </div>
      <div class="col-md-6 col-lg-4">
        <h2>{{name}}</h2>
        <table class="vitals-table">
          <tbody>
          <tr>
          <th>National №</th>
          <td><strong>001</strong></td>
          </tr>
          <tr>
          <th>Type</th>
          <td>
          <a class="type-icon type-grass" href="/type/grass">Grass</a> <a class="type-icon type-poison" href="/type/poison">Poison</a> </td>
          </tr>
          <tr>
          <th>Species</th>
          <td>Seed Pokémon</td>
          </tr>
          <tr>
          <th>Height</th>
          <td>0.7&nbsp;m (2′04″)</td>
          </tr>
          <tr>
          <th>Weight</th>
          <td>6.9&nbsp;kg (15.2&nbsp;lbs)</td>
          </tr>
          <tr>
          <th>Abilities</th>
          <td><span class="text-muted">1. <a href="/ability/overgrow" title="Powers up Grass-type moves in a pinch.">Overgrow</a></span><br><small class="text-muted"><a href="/ability/chlorophyll" title="Boosts the Pokémon's Speed in sunshine.">Chlorophyll</a> (hidden ability)</small><br></td>
          </tr>
          <tr>
          <th>Local №</th>
          <td>001 <small class="text-muted">(Red/Blue/Yellow)</small><br>226 <small class="text-muted">(Gold/Silver/Crystal)</small><br>001 <small class="text-muted">(FireRed/LeafGreen)</small><br>231 <small class="text-muted">(HeartGold/SoulSilver)</small><br>080 <small class="text-muted">(X/Y — Central Kalos)</small><br>001 <small class="text-muted">(Let's Go Pikachu/Let's Go Eevee)</small><br></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="grid-col span-md-12 span-lg-4">
      <div class="grid-row">
      <div class="grid-col span-md-6 span-lg-12">
      <h2>Training</h2>
      <table class="vitals-table">
      <tbody>
      <tr>
      <th>EV yield</th>
      <td class="text">
      1 Special Attack </td>
      </tr>
      <tr>
      <th>Catch rate</th>
      <td>45 <small class="text-muted">(5.9% with PokéBall, full HP)</small></td>
      </tr>
      <tr>
      <th>Base <a href="/glossary#def-friendship">Friendship</a></th>
      <td>70 <small class="text-muted">(normal)</small></td>
      </tr>
      <tr>
      <th>Base Exp.</th>
      <td>64</td>
      </tr>
      <tr>
      <th>Growth Rate</th>
      <td>Medium Slow</td>
      </tr>
      </tbody>
      </table>
      </div>
      <div class="grid-col span-md-6 span-lg-12">
      <h2>Breeding</h2>
      <table class="vitals-table">
      <tbody>
      <tr>
      <th>Egg Groups</th>
      <td>
      <a href="/egg-group/grass">Grass</a>, <a href="/egg-group/monster">Monster</a> </td>
      </tr>
      <tr>
      <th>Gender</th>
      <td><span class="text-blue">87.5% male</span>, <span class="text-pink">12.5% female</span></td> </tr>
      <tr>
      <th><a href="/glossary#def-eggcycle">Egg cycles</a></th>
      <td>20 <small class="text-muted">(4,884–5,140 steps)</small>
      </td>
      </tr>
      </tbody>
      </table>
      </div>
      </div>
      </div>
  </div>
</div>