.breadcrumb{
  background-color: #fff;
  margin-top: 1rem;
}
.headertitle{
  width: 50%;
}
.prosesload {
    position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
  background-color:rgba(255, 255, 255, 0.8);
  z-index: 999;
}

.prosesload .loading {
  display: block;
  position: relative;
  color: rgb(97, 96, 96);
}

.cardlist{
  margin-bottom: 20px;
  max-width: 50%;
  cursor: pointer;
}

.cardhov:hover{
  background-color: #ecf0f1;
}

.card-title{
  color :#2769be;
}

.btnloadmore {
  margin: auto;
  width: 200px;
}

.lbltype{
  margin:auto;
}

.badge{
  margin-right: 5px;
}
.badge-fight {
    color: #fff;
    background-color: #34495e;
}

.badge-fly {
    color: #fff;
    background-color: #bdc3c7;
}

.badge-poison {
    color: #fff;
    background-color: #9b59b6;
}

.badge-ground {
    color: #fff;
    background-color: #ccae62;
}


.badge-bug {
    color: #fff;
    background-color: #01a3a4;
}

.badge-warning {
    color: #fff;
    background-color: #f1c40f;
}

.vitals-table {
    width: 100%;
}
.vitals-table th {
    color: #737373;
    font-size: .875rem;
    font-weight: normal;
    text-align: right;
}
.vitals-table th, .vitals-table td {
    border-width: 1px 0;
    border-style: solid;
    border-color: #f0f0f0;
}
.vitals-table th, .vitals-table td {
    border-width: 1px 0;
    border-style: solid;
    border-color: #f0f0f0;
}

.main-gallery {
  width: 360px;
  height: 336px;
}
.item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.item-gallery img{
    width: 100%;
}

.border-bawah{
  border-bottom: 0.1 solid rgba(0, 0, 0, 0.05);
}

.border-0{
  border-bottom: 0;
}

.data-table{
  width: 100%;
}

.data-table th {
    color: #737373;
    font-size: .875rem;
    font-weight: normal;
    text-align: right;
    padding-right: 10px;
}
.data-table th, .data-table td {
    width: 50%;
    border-width: 1px 0;
    border-style: solid;
    border-color: #f0f0f0;
}


@media (max-width: 620px) {
  
}