<div *ngIf="loading" class="prosesload">
  <div class="loading">
    <img style="margin:auto;width:100%;" src="https://cdn140.picsart.com/259325004017202.gif" />
  </div>
</div>
<div class="container mb-4">
  <div class="row mt-3">
    <div class="col-sm-6 headertitle">
      <h2>Pokemon List</h2>
    </div>
    <div class="col-sm-6 headertitle" style="text-align: right">
      <h2># {{total}}</h2>
    </div>
  </div>
  <div class="row mt-3">
    <div class="input-group col-md-12">
      <input class="form-control py-2" [(ngModel)]="searchText" placeholder="Search">
        <span class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
            <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-3 cardlist" *ngFor="let i of listpoke | filter : searchText;let j = index;">
      <div class="card">
          <div class="card-body text-center">
            <p>
               <img src="{{i.photo}}" alt="card image" width="100%">
            </p>
            <h4 class="card-title">{{i.name}}</h4>
            <p class="card-text text-muted"># {{i.idpoke}}</p>
            <span *ngFor="let x of i.typepoke" class="{{x.type.name | colortype}}">{{x.type.name}}</span>
          </div>
        </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="btnloadmore col-md-2">
        <button (click)="loadmore()"  *ngIf="!(page > total)" class="btn btn-pill btn-block btn-info">Load More</button>
    </div>
  </div>
</div>