<div *ngIf="loading" class="prosesload">
  <div class="loading">
    <img style="margin:auto;width:100%;" src="https://cdn140.picsart.com/259325004017202.gif" />
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="pokemon">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
  </ol>
</nav>
<div class="row mr-3 ml-3">
  <div class="col-sm-12 card p-0">
    <div class="row no-gutters">
      <div class="col-sm-4 text-center border-right">
        <p>
          <img src="{{sprites.front_default}}" width="360" height="336">
        </p>
        <p class="item-gallery">
          <img src="{{sprites.front_default}}">
        </p>
        <p class="item-gallery">
          <img src="{{sprites.front_shiny}}">
        </p>
        <p class="item-gallery">
          <img src="{{sprites.back_default}}">
        </p><p class="item-gallery">
          <img src="{{sprites.back_shiny}}">
        </p>
      </div>
      <div class="col-sm-8">
        <div class="card-body">
          <h3 class="title mb-2">{{name | titlecase}}</h3>
          <span *ngFor="let x of types" class="{{x.type.name | colortype}}">{{x.type.name}}</span>

          <div class="row mt-4">
            <div class="col-md-6">
              <h5>Poké Data</h5>
              <table class="data-table">
                <tbody>
                  <tr>
                    <th>Id Poké</th>
                    <td><strong># {{id}}</strong></td>
                  </tr>
                </tbody>
              </table>  
            </div>
          </div>
    </div>
  </div>  
</div>