<div *ngIf="loading" class="prosesload">
  <div class="loading">
    <img style="margin:auto;width:100%;" src="https://cdn140.picsart.com/259325004017202.gif" />
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="pokemon">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
  </ol>
</nav>
<div class="row mr-3 ml-3">
  <div class="col-sm-12 card p-0">
    <div class="row no-gutters">
      <div class="col-sm-4 text-center border-right">
        <p>
          <img src="{{sprites.front_default}}" width="100%" >
        </p>
        <p class="item-gallery">
          <img src="{{sprites.front_default}}">
        </p>
        <p class="item-gallery">
          <img src="{{sprites.front_shiny}}">
        </p>
        <p class="item-gallery">
          <img src="{{sprites.back_default}}">
        </p><p class="item-gallery">
          <img src="{{sprites.back_shiny}}">
        </p>
      </div>
      <div class="col-sm-8">
        <div class="card-body">
          <h3 class="title mb-2">{{name | titlecase}}</h3>
          <span *ngFor="let x of types" class="{{x.type.name | colortype}}">{{x.type.name}}</span>

          <div class="row mt-4">  
            <div class="col-sm-6">
             <h5 >Poké Data</h5>
              <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label col-form-label-sm lblkiri text-muted">Poke Id</label>
                <label class="col-sm-9 col-form-label col-form-label-sm lblkanan font-weight-bold">
                 # {{id}}
                </label>
              </div>
              <hr class="border-bawah mt-0">

              <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label col-form-label-sm lblkiri text-muted">Height </label>
                <label class="col-sm-9 col-form-label col-form-label-sm  font-weight-bold">
                 {{height/10}} m
                </label>
              </div>
              <hr class="border-bawah mt-0">

              <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label col-form-label-sm lblkiri text-muted">Weight </label>
                <label class="col-sm-9 col-form-label col-form-label-sm  font-weight-bold">
                 {{weight/10}} kg
                </label>
              </div>
              <hr class="border-bawah mt-0">

              <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label col-form-label-sm lblkiri text-muted">Abilities </label>
                <label class="col-sm-9 col-form-label col-form-label-sm ">
                 <ol class="mb-0 font-weight-bold" style="padding-left:15px" >
                  <li *ngFor="let x of abilities">
                    <span>{{x.ability.name | titlecase}}</span>
                    <span *ngIf="x.is_hidden === true" class="font-weight-light text-muted"> (hidden ability)</span>
                  </li>
                </ol> 
                </label>
              </div>
              <hr class="border-bawah mt-0">
              
              <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label col-form-label-sm lblkiri text-muted">Species </label>
                <label class="col-sm-9 col-form-label col-form-label-sm  font-weight-bold">
                 {{species.name | titlecase}}
                </label>
              </div>
              <hr class="border-bawah mt-0">
            
              <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label col-form-label-sm lblkiri text-muted">Base Experience </label>
                <label class="col-sm-9 col-form-label col-form-label-sm font-weight-bold">
                 {{base_experience}}
                </label>
              </div>
              <hr class="border-bawah mt-0">
            
            </div> <!-- poke kiri -->

            <!-- poke kanan -->
            <div class="col-sm-6">
             <h5 class="border-bawah">Poké Stats</h5>
             <div *ngFor="let x of stats">
               <div class="form-group row mb-0">
                  <label class="col-sm-3 col-form-label col-form-label-sm lblkiri text-muted">{{x.stat.name | titlecase}}</label>
                  <label class="col-sm-9 col-form-label col-form-label-sm font-weight-bold">
                  <div class="progress">
                    <div class="progress-bar {{x.base_stat | colorstat}}" role="progressbar"  [style.width.%]="x.base_stat" role="progressbar" >{{x.base_stat}}</div>
                  </div>
                  </label>
                </div>
             </div>
            </div> <!-- poke kanan -->
          </div>
        </div>
      </div>  <!--end col 8-->

    </div> 
  </div>
</div>